<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Linli Ding">
  <meta name="description" content="A passionate data analyst with 3 years' professional experience in producing analytical solutions to support process improvement, cost reduction and improved customer satisfaction. Graduating with a Master of Science in Information Studies in May 2018, with a focus on Data Analytics.">

  <title>
    Linli Ding - Portfolio
  </title>

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="vendor/assets/css/bootstrap.min.css">
  <!-- Main Style -->
  <link rel="stylesheet" type="text/css" href="vendor/assets/css/main.css">
  <!-- Responsive Style -->
  <link rel="stylesheet" type="text/css" href="vendor/assets/css/responsive.css">
  <!--Fonts-->
  <link rel="stylesheet" media="screen" href="vendor/assets/fonts/font-awesome/font-awesome.min.css">
  <link rel="stylesheet" media="screen" href="vendor/assets/fonts/simple-line-icons.css">    

  <!-- Extras -->
  <link rel="stylesheet" type="text/css" href="vendor/assets/extras/owl/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="vendor/assets/extras/owl/owl.theme.css">
  <link rel="stylesheet" type="text/css" href="vendor/assets/extras/animate.css">
  <link rel="stylesheet" type="text/css" href="vendor/assets/extras/normalize.css">
  <link rel="stylesheet" type="text/css" href="vendor/assets/extras/settings.css">

  <!-- Color CSS Styles  -->
  <link rel="stylesheet" type="text/css" href="vendor/assets/css/colors/lightblue.css" media="screen"> 


  <!-- Add additional CSS in static file -->
  <link rel="stylesheet" href="css/styles.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113227556-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-113227556-1');
  </script>

</head>

<body>

  <!-- Header area wrapper starts -->
  <header id="header-wrap">

    <!-- Header area starts -->
    <section id="header">

      <!-- Navbar Starts -->
      <nav class="navbar navbar-light" data-spy="affix" data-offset-top="50">
        <div class="container">
          <button class='navbar-toggler hidden-md-up pull-xs-right' data-target='#main-menu' data-toggle='collapse' type='button'>
            ☰
          </button>
          <!-- Brand -->
          <a class="navbar-brand" href="index.html" >
            <img src="img/logo.png" alt="" style="height:40px;width:40px; position:relative; top:-5px;">
          </a>

          <div class="collapse navbar-toggleable-sm pull-xs-left pull-md-right" id="main-menu">
            <!-- Navbar Starts -->
            <ul class="nav nav-inline">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="file/Linli_Resume.pdf" role="button" aria-haspopup="true" aria-expanded="false" target="_blank">
                  Resume
                </a>                                     
              </li> 
              
              <li class="nav-item dropdown">
                <a class="nav-link active" href="index.html" role="button" aria-haspopup="true" aria-expanded="false">Projects</a>
<!--                 <div class="dropdown-menu">  
                  {% block project_dropdown_menu %}

                  
                </div>  -->

                
              </li>                                     



<!-- 
                <li class="nav-item dropdown">

                  <a class="nav-link dropdown-toggle" href="contact.html" role="button" aria-haspopup="true" aria-expanded="false">
                    Contact
                  </a>
                  

                </li>   -->                        
              </ul>  
            </div>              
          </div>
        </nav>
        <!-- Navbar Ends -->
      </section> 
<section class="section">
        <div class="container" style="text-align: center">  
<h1 class="section-title wow fadeInUpQuick" data-wow-delay=".3s">
	Visual Question Answerability Classification
</h1>

<p class="section-subcontent wow fadeInUpQuick" data-wow-delay=".4s">
	Predicting if a question is answerable for a given image using Hand-Crafted features and Neural Networks
</p>

<div class="section-subcontent col-sm-6 col-md-4 col-lg-4 mix col-xl-4 wow fadeInRightQuick" data-wow-delay=".3s">
	<div style="text-align: left;">
		<b>Main Role: </b>Data Scientist<br>
		<b>Skills: </b>Python<br>
		<b>Class: </b>Intro to Machine Learning<br>
		<b>Team Size: </b>1<br>
		<b>Date: </b>March 2018<br>
    <b>Dataset: </b><a href="http://vizwiz.org/data/" target="_blank" onMouseOver="this.style.color='#00D3F9'" onMouseOut="this.style.color='#666'" style="color: #666">VizWiz</a><br>
		<b>Code: </b><a href="https://machinelearningclass-anon-cy4dga.notebooks.azure.com/nb/notebooks/Assignment_Lab4.ipynb" target="_blank" onMouseOver="this.style.color='#00D3F9'" onMouseOut="this.style.color='#666'" style="color: #666">Azure Notebook</a>
	</div>
</div>

<div class="col-sm-6 col-md-8 col-lg-8 mix col-xl-8">
	<p class="section-subcontent wow fadeInRightQuick" data-wow-delay=".4s">
		To predict whether a visual question is answerable, I created a multi-model classification system. The Neural Network is trained using four categories of features: 1) Image-based features extracted using the Azure Vision API. 2) Question-based features extracted using the Azure Text Analytics API. 3) Detecting if there is readable words on the image using Azure OCR API. 4) TF-IDF features are transformed from the questions using Python's scikit libray. The model was trained and validated using the original data split. The validation accuracy reaches 70%. 
	</p>
</div>

</div>
<div class="container" style="text-align: center;">
<!-- file 1 -->
	<br>
	<div class="wow fadeInUpQuick">
		<div class="section-subcontent wow fadeInUpQuick" data-wow-delay=".5s" style="padding-bottom: 0px">
			The model was trained using 19977 examples with 3705 features in total, 3698 of them are TF-IDF features, and the rest 7 features are hand picked from the data returned by Azure API. The first two column features are based on questions. numKeyPhrases counts the number of key phrases based on the question text. Sentiment is the sentiment score for the question text. aldultScore and racyScore indicate if the content of the image is adult content. isBw indicates if the image is black and white. has_ocr_text indicates if there are readable text on the image. 
		</div>

		<img src="projects/azurevision/file/features.png" alt="Features" style="width: 100%; max-width: 800px">
		<br><br>
	</div>


  <div id="portfolio" class="section">

    <hr>

    <h1 class="section-title wow fadeInUpQuick animated">
    Related Projects</h1> 
                  <div class="col-sm-6 col-md-4 col-lg-4 mix col-xl-4 wow fadeInUpQuick" data-wow-delay=".3s" data-category="Data Analysis">
                <a href="azurevision.html">
                  <div class="portfolio-item">   

                    <div class="portfolio-img">
                      <img src="projects/googlevision/cover_pic/1.jpeg" alt="User Engagements Prediction" style="height:200px">
                    </div>

                    <div class="portfoli-content">
                      <div class="sup-desc-wrap">
                        <div class="sup-desc-inner">
                          <div class="sup-meta-wrap">
                            <h4 class="sup-title" >User Engagements Prediction</h4>
                            <p class="sup-description">Application of sentiment analysis in predicting user engagements with features extracted from the images using Google Cloud Vision API</p>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </a>
              </div>
</div>
  </div>

</div>
</div>
</header>

<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>

</section>

    <footer>
      <!-- 942 Copyright -->
      

      <div id="copyright">
        <div class="container">
          <div class="row">
           <hr>   
           <!-- <p class="copyright-text"> -->
          <p> 
            <a href="https://github.com/lily-ya" target="_blank"><img class="wow fadeInUp" data-wow-delay="0.3s" src="img/github.png" alt="" width="40" hspace="20" title="Github Profile"></a>          
            <a href="https://public.tableau.com/profile/linli.ding#!/" target="_blank"><img class="wow fadeInUp" data-wow-delay="0.4s" src="img/tableau.png" alt="" width="40" hspace="20" title="Tableau Profile"></a>         
            <a href="https://www.linkedin.com/in/linliding/" target="_blank"><img class="wow fadeInUp" data-wow-delay="0.5s" src="img/in.png" alt="" width="40" hspace="20" title="LinkedIn Profile"></a>
            <a href="https://notebooks.azure.com/anon-cy4dga/libraries/machineLearningClass" target="_blank"><img class="wow fadeInUp" data-wow-delay="0.6s" src="img/azure.png" alt="" width="45" hspace="20" title="Azure Profile"></a>              
            <br><br>
            ©  2018 Developed by <a href="{% url 'home">Linli Ding</a>
          </p>
          </div>
        </div>
      </div>
      <!-- Copyright  End-->

    </footer>
    <!-- Footer Section End-->

    <!-- Go To Top Link -->
<!--     <a href="#" class="back-to-top">
      <i class="fa fa-angle-up">
      </i>
    </a>

    <div class="bottom"> <a href="#" class="settings"></a> </div> -->

    <!-- JavaScript & jQuery Plugins -->
    <!-- jQuery Load -->
    <script src="vendor/assets/js/jquery-min.js"></script>
    <!-- Bootstrap JS -->
    <script src="vendor/assets/js/bootstrap.min.js"></script>
    <!--Text Rotator-->
    <script src="vendor/assets/js/jquery.mixitup.js"></script>
    <!--WOW Scroll Spy-->
    <script src="vendor/assets/js/wow.js"></script>
    <!-- OWL Carousel -->
    <script src="vendor/assets/js/owl.carousel.js"></script>

    <!-- WayPoint -->
    <script src="vendor/assets/js/waypoints.min.js"></script>
    <!-- CounterUp -->
    <script src="vendor/assets/js/jquery.counterup.min.js"></script>
    <!-- ScrollTop -->
    <script src="vendor/assets/js/scroll-top.js"></script>
    <!-- Appear -->
    <script src="vendor/assets/js/jquery.appear.js"></script>
    <script src="vendor/assets/js/jquery.vide.js"></script>
    <!-- All JS plugin Triggers -->
    <script src="vendor/assets/js/main.js"></script>
    <!-- <script src="vendor/assets/js/color-switcher.js"></script> -->
    <!-- custom javascript -->
    <script src="js/app.js"></script>

  </body>
  </html>