<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Linli Ding">
<meta name="description" content="A passionate data analyst with 3 years' professional experience in producing analytical solutions to support process improvement, cost reduction and improved customer satisfaction. Graduating with a Master of Science in Information Studies in May 2018, with a focus on Data Analytics.">

<title>
  Linli Ding - Portfolio
</title>

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="vendor/assets/css/bootstrap.min.css">
<!-- Main Style -->
<link rel="stylesheet" type="text/css" href="vendor/assets/css/main.css">
<!-- Responsive Style -->
<link rel="stylesheet" type="text/css" href="vendor/assets/css/responsive.css">
<!--Fonts-->
<link rel="stylesheet" media="screen" href="vendor/assets/fonts/font-awesome/font-awesome.min.css">
<link rel="stylesheet" media="screen" href="vendor/assets/fonts/simple-line-icons.css">    

<!-- Extras -->
<link rel="stylesheet" type="text/css" href="vendor/assets/extras/owl/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="vendor/assets/extras/owl/owl.theme.css">
<link rel="stylesheet" type="text/css" href="vendor/assets/extras/animate.css">
<link rel="stylesheet" type="text/css" href="vendor/assets/extras/normalize.css">
<link rel="stylesheet" type="text/css" href="vendor/assets/extras/settings.css">

<!-- Color CSS Styles  -->
<link rel="stylesheet" type="text/css" href="vendor/assets/css/colors/lightblue.css" media="screen"> 


<!-- Add additional CSS in static file -->
<link rel="stylesheet" href="css/styles.css">

<!-- fond awsome -->
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113227556-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-113227556-1');
</script>

</head>

<body>

<!-- Header area wrapper starts -->
<header id="header-wrap">

  <!-- Header area starts -->
  <section id="header">

    <!-- Navbar Starts -->
    <nav class="navbar navbar-light" data-spy="affix" data-offset-top="50">
      <div class="container">
        <button class='navbar-toggler hidden-md-up pull-xs-right' data-target='#main-menu' data-toggle='collapse' type='button'>
          ☰
        </button>
        <!-- Brand -->
        <a class="navbar-brand" href="index.html" >
          <img src="img/logo.png" alt="" style="height:40px;width:40px; position:relative; top:-5px;">
        </a>

        <div class="collapse navbar-toggleable-sm pull-xs-left pull-md-right" id="main-menu">
          <!-- Navbar Starts -->
          <ul class="nav nav-inline">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="file/Linli_Resume.pdf" role="button" aria-haspopup="true" aria-expanded="false" target="_blank">
                Resume
              </a>                                     
            </li> 
            
            <li class="nav-item dropdown">
              <a class="nav-link active" href="index.html" role="button" aria-haspopup="true" aria-expanded="false">Projects</a>
<!--                 <div class="dropdown-menu">  
                {% block project_dropdown_menu %}

                
              </div>  -->

              
            </li>                                     



<!-- 
              <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" href="contact.html" role="button" aria-haspopup="true" aria-expanded="false">
                  Contact
                </a>
                

              </li>   -->                        
            </ul>  
          </div>              
        </div>
      </nav>
      <!-- Navbar Ends -->
    </section> 
<section class="section">
      <div class="container" style="text-align: center">  
<h1 class="section-title wow fadeInUpQuick" data-wow-delay=".3s">
Interactive Olympics Website
</h1>

<p class="section-subcontent wow fadeInUpQuick" data-wow-delay=".4s">
An interactive website providing searching and browsing information about Olympic Games
</p>

<div class="section-subcontent col-sm-6 col-md-4 col-lg-4 mix col-xl-4 wow fadeInRightQuick" data-wow-delay=".3s">
<div style="text-align: left;">
	<b>Main Role: </b>Full-stack Developer<br>
	<b>Skills: </b>PHP, MariaDB, Python<br>
	<b>Client: </b>Database Management Class<br>
	<b>Team Size: </b>4<br>
	<b>Date: </b>December 2017
	<br>
	<b>Github: </b><a href="https://github.com/lily-ya/databaseManagement" target="_blank" onMouseOver="this.style.color='#00D3F9'" onMouseOut="this.style.color='#666'" style="color: #666">Code</a>
</div>
</div>

<div class="col-sm-6 col-md-8 col-lg-8 mix col-xl-8">
<p class="section-subcontent wow fadeInRightQuick" data-wow-delay=".4s">
	The project was created in Fall 2017 for Database Management Class. Our team aims to create a PHP website that interacts with MariaDB using SQL statements to provide information of Olympic Games. Our website includes 5 pages and the database involves 6 tables. Data were collected from Wikipedia and olympic.org using a customized python script. In addition, we use a bootstrap framework to make the website responsive to various devices.
</p>
</div>

</div>


<div class="container" style="text-align: center;">
<!-- file 1 -->
<br>
<div class="wow fadeInUpQuick">
	<div class="section-subcontent wow fadeInUpQuick" data-wow-delay=".5s" style="padding-bottom: 0px">
		Entity Relationship Diagram. We modified the diagram instantly as we adding more tables and refining our information. The diagram provides a clear relationships between entities, and helps improve coding efficiency.
	</div>

	<img src="projects/phpsite/file/Entity Relationship Diagram.png" alt="Entity Relationship Diagram" style="width: 100%; max-width: 800px">
	<br><br>
</div>

<!-- file 2 -->
<br>
<div class="wow fadeInUpQuick">
  <div class="section-subcontent wow fadeInUpQuick" data-wow-delay=".5s" style="padding-bottom: 0px">
    The home page includes the information of the upcoming games and google map showing the location of the hosting country.
  </div>

  <img src="projects/phpsite/file/homepage.png" alt="Home Page" style="width: 100%; max-width: 800px">
  <br><br>
</div>

<!-- file 3 -->
<br>
<div class="wow fadeInUpQuick">
  <div class="section-subcontent wow fadeInUpQuick" data-wow-delay=".5s" style="padding-bottom: 0px">
    The browse page includes Olympic games events since 1896.
  </div>

  <img src="projects/phpsite/file/browsepage.png" alt="Browse Page" style="width: 100%; max-width: 800px">
  <br><br>
</div>

<!-- file 4 -->
<br>
<div class="wow fadeInUpQuick">
  <div class="section-subcontent wow fadeInUpQuick" data-wow-delay=".5s" style="padding-bottom: 0px">
    An info page is linked by clicking on event thumbnail.
  </div>

  <img src="projects/phpsite/file/infopage.png" alt="Info Page" style="width: 100%; max-width: 800px">
  <br><br>
</div>

<!-- file 5 -->
<br>
<div class="wow fadeInUpQuick">
  <div class="section-subcontent wow fadeInUpQuick" data-wow-delay=".5s" style="padding-bottom: 0px">
    The search page allows 4 filtering methods, and the searching results are linked to the responding info page.
  </div>

  <img src="projects/phpsite/file/searchpage.png" alt="Search Page" style="width: 100%; max-width: 800px">
  <br><br>
</div>

<!-- file 6 -->
<br>
<div class="wow fadeInUpQuick">
  <div class="section-subcontent wow fadeInUpQuick" data-wow-delay=".5s" style="padding-bottom: 0px">
    Out team includes 4 members, and lily is my nickname.
  </div>

  <img src="projects/phpsite/file/about.png" alt="About Page" style="width: 100%; max-width: 800px">
  <br><br>
</div>

<!-- other related project section -->
<!-- 	<div id="portfolio" class="section">
	<hr>
	<h1 class="section-title wow fadeInUpQuick animated">
	Other Projects</h1> Related to {{project.get_category_display}}
	{% for project in related_project %}
	{% include 'project/project_thumbnail.html' %}
	{% endfor %}

</div>  -->

</div>
</div>
</header>

<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>

</section>

  <footer>
    <!-- 942 Copyright -->
    

    <div id="copyright">
      <div class="container">
        <div class="row">
         <hr>   
         <!-- <p class="copyright-text"> -->
          <p> 
            <a href="https://github.com/lily-ya" target="_blank"><img class="wow fadeInUp" data-wow-delay="0.3s" src="img/github.png" alt="" width="40" hspace="20" title="Github Profile"></a>          
            <a href="https://public.tableau.com/profile/linli.ding#!/" target="_blank"><img class="wow fadeInUp" data-wow-delay="0.4s" src="img/tableau.png" alt="" width="40" hspace="20" title="Tableau Profile"></a>         
            <a href="https://www.linkedin.com/in/linliding/" target="_blank"><img class="wow fadeInUp" data-wow-delay="0.5s" src="img/in.png" alt="" width="40" hspace="20" title="LinkedIn Profile"></a>
            <a href="https://notebooks.azure.com/anon-cy4dga/libraries/machineLearningClass" target="_blank"><img class="wow fadeInUp" data-wow-delay="0.6s" src="img/azure.png" alt="" width="45" hspace="20" title="Azure Profile"></a>              
            <br><br>
            ©  2018 Developed by <a href="{% url 'home">Linli Ding</a>
          </p>
        </div>
      </div>
    </div>
    <!-- Copyright  End-->

  </footer>

  <!-- Footer Section End-->

  <!-- Go To Top Link -->
<!--     <a href="#" class="back-to-top">
    <i class="fa fa-angle-up">
    </i>
  </a>

  <div class="bottom"> <a href="#" class="settings"></a> </div> -->

  <!-- JavaScript & jQuery Plugins -->
  <!-- jQuery Load -->
  <script src="vendor/assets/js/jquery-min.js"></script>
  <!-- Bootstrap JS -->
  <script src="vendor/assets/js/bootstrap.min.js"></script>
  <!--Text Rotator-->
  <script src="vendor/assets/js/jquery.mixitup.js"></script>
  <!--WOW Scroll Spy-->
  <script src="vendor/assets/js/wow.js"></script>
  <!-- OWL Carousel -->
  <script src="vendor/assets/js/owl.carousel.js"></script>

  <!-- WayPoint -->
  <script src="vendor/assets/js/waypoints.min.js"></script>
  <!-- CounterUp -->
  <script src="vendor/assets/js/jquery.counterup.min.js"></script>
  <!-- ScrollTop -->
  <script src="vendor/assets/js/scroll-top.js"></script>
  <!-- Appear -->
  <script src="vendor/assets/js/jquery.appear.js"></script>
  <script src="vendor/assets/js/jquery.vide.js"></script>
  <!-- All JS plugin Triggers -->
  <script src="vendor/assets/js/main.js"></script>
  <!-- <script src="vendor/assets/js/color-switcher.js"></script> -->
  <!-- custom javascript -->
  <script src="js/app.js"></script>

</body>
</html>